<!-- {{yield}} -->
<!-- Infinite Scroll component -->
<h4 class="prob-heading">Infinite Scroll Container</h4>
<!-- <ul id='infinite-list'>
</ul> -->
<ul id='infinite-list'>
  {{#each itemList as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>
