.margin-left-5 {
  margin-left: 5rem;
}
.pad-all-1rem {
  padding: 1rem;
}
#infinite-list {
  /* We need to limit the height and show a scrollbar */
  width: 600px;
  height: 300px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
  margin: 30px;
  padding: 20px;
  border: 2px solid lightblue;
}

/* Optional eye candy below: */
li {
  padding: 10px;
  list-style-type: none;
}
li:hover {
  background: #ccc;
  cursor: pointer;
}
li.active {
  color: red;
  background: #ccc;
}
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.exercises-nav{
  border-bottom:  2px solid lightblue;
  padding-bottom: 10px;
}
.prob-heading{
  margin-bottom: 15px;
}
.left-pane{
  /* border-right: 2px solid lightblue; */
}
.formated-json{
  background-color: black;
  color: white;
}
.formated-json li:hover{
  background: black;
}
.list-user-header{
  margin-bottom: 10px;
}
.list-user-container{
  border: 2px solid lightblue;
  padding: 5px;
  margin-top: 10px;
}
.add-section{
  margin: 20px 0px;
}
.error{
  color: red;
}
.margin-btm-15{
  margin-bottom: 15px;
}
